.DS_Store
.idea
!.gitkeep
/fhem/FHEM/FhemUtils/uniqueID
/fhem/fhem.cfg.bak
/fhem/log/*
/fhem/restoreDir/*
/fhem/.ssh/*
/fhem/.npm/*
/fhem/.bash_history
/homebridge/node_modules/*
/homebridge/backups/*
/homebridge/logs/*
/homebridge/homebridge.log
*.sqlc
